body{
    background-color: #212121;
    color: white;
    margin: 0;
}

a{
    color: white;
    text-decoration: none;
    padding: 3px;
}

h1{
    color: white;
}

a:hover{
    text-decoration: underline; 
}

header{
    background-color: #080808;

}

.logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.out{
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    right: 40px;
}

.username{
    margin-right: 20px;
}

.main_title{
    margin-left: 20px;
    font-size: 3em;
    text-decoration: none;
}

.kampanj{
    position: absolute;
    right: 20px;
    top: 140px;
    width: 300px;
    max-height: 600px;
    overflow-y: scroll;
    background-color: #080808;
    overflow-wrap: break-word;
}

.left_title{
    position: absolute;
    right: 30px;
    top: 70px;
}

.ktitle{
    column-span: 1;
    margin-left: 20px; 
    margin-right: 20px;
}

.content{
    padding: 15px;
}

.remove{
    position: absolute;
    right: 30px;
    top: 100px;
}

.warning{
    margin-top: 20px;
    font-size: 2em;
}
